:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav a {
  font-size: large;
  text-decoration: unset;
  color:#727272;
}

nav a:hover {
  color:#a7a7a7
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  align-items: center;
}

.songList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.songList a {
  color: rgb(255, 186, 238);
  align-items: center;
  text-decoration: none;
}

.songList a:hover {
  text-decoration: underline;
}


.songList li {
  list-style-type: none;
  margin: 0.3em;
  padding-left: 0;
  margin-left: 0;
  font-size: large;
  font-weight: bold;
}

.songFilter input {
  text-align: center;
  font-size: medium;
  font-weight: 550;

  background-color: #2b2b2b;
  color: #f6c3fd;
  padding: 0.3em;

  border-radius: 0.4em;
  border-style: none;
}


.lyrics {
  white-space: pre-wrap;
  font-size: large;
}

button {
  padding: 0.5em;

  background-color: #dfbbd6;

  font-weight: bold;

  border-radius: 0.5em;
  border-color: rgb(255, 255, 255);
  border-width: 0.3em;
}

button:hover {
  background-color: #ffffff;
}

.reorder {
  width: 100%;

  ul {
    padding-right: 3em;
    padding-left: 3em;
  }

  li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }

  .reorderEntry {
    display: flex;
    justify-content: space-between;
  

    font-weight: bold;
    background-color: black;

    border-style: solid;
    border-radius: 0.5em;
    border-width: 2px;
    border-color: rgb(145, 93, 125);

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    p, a {
      margin: 0.5em;
      padding: 0.5em;
      float: left;

      color: var(--foreground);
      text-decoration: unset;
    }

    a:hover {
      color: rgb(255, 176, 251);
    }

    h1 {
      align-self: center;
      font-size: medium;
      margin-right: 1em;
    }
  }

  .reorderEntry:hover {
    border-color: rgb(224, 126, 187);
  }

  .reorderFooter {
    float: right;
  }

  .reorderHeader {
    margin-left: 3em;
  }

  button {
    margin-right: 5em;
  }
}

.login {
  p {
    text-align: center;
    font-size: larger;
  }

  input {
    background-color: #2b2b2b;
    color: #f6c3fd;
    padding: 0.3em;

    border-radius: 0.4em;
    border-style: none;

    padding: 0.5em;
    margin-right: 1em;

    font-size: medium;
  }
}
