:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main h1 {
  align-items: center;
}

.songList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songList a {
  color: rgb(255, 186, 238);
  align-items: center;
  text-decoration: none;
}

.songList a:hover {
  text-decoration: underline;
}

.songList li {
  list-style-type: none;
  margin: 0.25em;
  font-size: large;
  font-weight: bold;
}

.songFilter input {
  margin-left: 1em;
}

.lyrics {
  white-space: pre-wrap;
}